@{
    ViewData["Title"] = "Contact Me";
}

<div class="text-center">
    <h1 class="display-4">Contact Me</h1>
    <h2 class="display-4">To do:</h2>
</div>

<div class="text-left">
    <ul>
        <li>Design Contact Page</li>
        <ul>
            <li>Email</li>
            <li>LinkedIn</li>
            <li>Inquiry Email Submission Box?</li>
        </ul>
    </ul>
</div>