@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <img src="./wwwroot/img/188_1480808926847.jpg">
    <h1 class="display-4">Ahmed Jama</h1>
</div>


<div class="text-center">
    <h2>To Do:</h2>
</div>
<div class="text-left">
    <ul>
        <li>Profile Picture</li>
        <li>Profile Text</li>
    </ul>
</div>