@{
    ViewData["Title"] = "Welcome";
    var profilePicPath = "https://localhost:5001/img/188_1480808926847.jpg";
}

<div class="text-center">
    <img src="@profilePicPath">
    <h1 class="display-4">Ahmed Jama</h1>
</div>


<div class="text-center">
    <h2>To Do:</h2>
</div>
<div class="text-left">
    <ul>
        <li><s>Profile Picture</s></li>
        <li>Profile Text</li>
    </ul>
</div>