@{
    ViewData["Title"] = "Welcome";
    var profilePicPath = "https://localhost:5001/img/188_1480808926847.jpg";
}

<div class="text-center">
    <img src="@profilePicPath">
    <h1 class="display-4">Ahmed Jama</h1>
    <p>I am a Software Developer at The Solution Stack. In my current role, I have worked on the development of products and applications of The Solution Stack. Additionally, I have been instrumental in delivering success for external clients as a consultant. My goal is to further my aptitude in server-side and client-side development as a Full Stack Developer and provide value wherever possible at TELUS. I am effective working in a team or independently and believe communication and collaboration are paramount to success.</p>
</div>