@{
    ViewData["Title"] = "Resume";
}

<div class="text-center">
    <h1 class="display-4">Resume</h1>
    <h2 class="display-4">To do:</h2>
</div>

<div class="text-left">
    <ul>
        <li>Create Model Entities</li>
        <ul>
            <li>Ahmed Jama</li>
            <li>Professional Experience</li>
            <li>Technical Skills/Languages</li>
            <li>Soft Skills</li>
            <li>Education</li>
        </ul>
        <li>Create data-driven view</li>
    </ul>
</div>